:root {
  // Brand Colors
  --blue-01: #0071bc;
  --blue-02: #003253;
  --blue-03: #d2e7ff;

  // Gray Scale
  --gray-01: #6e727e;
  --gray-02: #8e8e8e;

  // Complementary
  --color-background: #f6faff;

  // Neutral
  --white: #ffffff;
  --black: #000000;
}
